<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хранители руин</title> <!-- Изменили заголовок страницы -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='krasota.css') }}">
</head>
<body>
    <h1>Хранители руин</h1> <!-- Изменили "Хранители Руны" на "Хранители руин" -->
    <h2>список мероприятий</h2> <!-- Изменили "Список Прогулок" на "список мероприятий" -->
    {% if m %}
        {% for i in m %}
            <div class="meropriyatie">
                <p>{{ i['Название'] }}</p>
                <p>Дата: {{ i['Дата'] }}</p>
                <p>Время: {{ i['Время'] }}</p>
                <p>Место: {{ i['Место_сбора'] }}</p>
                <p>Цена: {{ i['Стоимость'] }} руб</p>
                <a href="{{ url_for('zapis', i=i['ID']) }}">Записаться</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Прогулок нет</p>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="flash">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>